<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/first.css">
</head>

<body>
    <div class="logo">
        <!-- Add your logo image here -->
        <img src="/Images/LOGO DARK.png" alt="Logo">
    </div>

    <script>
        // After 3 seconds, redirect to index.html
        setTimeout(function () {
            window.location.href = "/register";
        }, 3000); // 3000 milliseconds = 3 seconds
    </script>
</body>

</html>