<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome To $YkDramaBliss</title>
  <link rel="shortcut icon" href="/Images/LOGO.png" type="image/x-icon">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="./landing-page.js"></script>

  <link rel="stylesheet" href="/landpage.css">
  
</head>

<body>

  <div class="text-container">
    <div class="container-2">
      <a class="navbar-brand" href="/"><img class="logo" src="/Images/LOGO.png" alt=""></a>
      <div class="intro-container">
        <h1>WELCOME TO<br><span>$YkDramaBliss</span></h1>
        <p style="text-align: center;">K-Drama cravings? Get your fix & binge the best at $YkDramaBliss! </p>
        <p style="text-align: center;"> Get your fix & binge the best at $YkDramaBliss! </p>
      </div>
      <a href="#" class="button" onclick="myFunction()">Register</a>
    </div>
    <div class="bottom-text-container1">
      <div class="bottom-text-container">
        <p class="watch">Watch</p>
        <p class="chill">Chill</p>
        <p class="repeat">Repeat</p>
      </div>
    </div>
  </div>

  <div class="images-container">
    <marquee behavior="alternate" direction="left" scrollamount="8.4">
      <div class="group1">
        <div class="image">
          <img src="/Images/All of us are dead.jpg" alt="super girl">
        </div>
        <div class="image">
          <img src="/Images/Ballerina.jpg" alt="">
        </div>
        <div class="image">
          <img src="/Images/Its ok to not be ok.jpg" alt="">
        </div>
        <div class="image">
          <img src="/Images/pinkfong.png" alt="">
        </div>
        <div class="image">
          <img src="/Images/My name.jpg" alt="">
        </div>
        <div class="image">
          <img src="/Images/Parasite.jpg" alt="">
        </div>
        <div class="image">
          <img src="/Images/Nevertheless.jpg" alt="">
        </div>
        <div class="image">
          <img src="/Images/The call.jpg" alt="">
        </div>
        <div class="image">
          <img src="/Images/Pororo.webp" alt="">
        </div>
        <div class="image">
          <img src="/Images/Unlocked.jpg" alt="">
        </div>
        <div class="image">
          <img src="/Images/fire robo.jpg" alt="">
        </div>
        <div class="image">
          <img src="/Images/squid game.jpg" alt="">
        </div>

      </div>
    </marquee>
    <marquee behavior="alternate" direction="right" scrollamount="8.4">
      <div class="group2">
        <div class="images2">
          <img src="/Images/Train to busan.jpg" alt="">
        </div>
        <div class="images2">
          <img src="/Images/super wings.jpg" alt="">
        </div>
        <div class="images2">
          <img src="/Images/Kingdom.jpg" alt="">
        </div>
        <div class="images2">
          <img src="/Images/20th Century Girl.jpg" alt="">
        </div>
        <div class="images2">
          <img src="/Images/Hotel del luna.jpg" alt="">
        </div>
        <div class="images2">
          <img src="/Images/the glory.jpg" alt="">
        </div>
        <div class="images2">
          <img src="/Images/paw petrol.jpg" alt="">
        </div>
        <div class="images2">
          <img src="/Images/alive.jpg" alt="">
        </div>
        <div class="images2">
          <img src="/Images/Queen of tears.webp" alt="">
        </div>
        <div class="images2">
          <img src="/Images/Robocar poli.jpg" alt="">
        </div>
        <div class="images2">
          <img src="/Images/business proposal.jpg" alt="">
        </div>
        <div class="images2">
          <img src="/Images/the eight night.jpg" alt="">
        </div>
      </div>
    </marquee>

    <marquee behavior="alternate" direction="left" scrollamount="15">
      <div class="group3">
        <div class="image3">
          <img src="/Images/\vinchenzo.jpg" alt="super girl">
        </div>
        <div class="image3">
          <img src="/Images/pandora.jpg" alt="">
        </div>
        <div class="image3">
          <img src="/Images/sweet home.jpg" alt="">
        </div>
        <div class="image3">
          <img src="/Images/time to hunt.jpg" alt="">
        </div>
        <div class="image3">
          <img src="/Images/tomorrow.jpg" alt="">
        </div>
        <div class="image3">
          <img src="/Images/larva.jpg" alt="">
        </div>
        <div class="image3">
          <img src="/Images/law school.jpg" alt="">
        </div>
        <div class="image3">
          <img src="/Images/ashin of the north.jpg" alt="">
        </div>
        <div class="image3">
          <img src="/Images/my demon.jpg" alt="">
        </div>
        <div class="image3">
          <img src="/Images/high society.jpg" alt="">
        </div>
        <div class="image3">
          <img src="/Images/night in paradise.jpg" alt="">
        </div>
        <div class="image3">
          <img src="/Images/hello jadoo.jpg" alt="">
        </div>

      </div>
    </marquee>

  </div>

  <script>

    function myFunction() {
      location.replace('/login')
    }

  </script>

</body>

</html>